<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>LP Telefon Login</title>
</head>

<body>
<div class="login-box">
    <h2>LP Telefon</h2>

    <form method="post">
        <input type="text" name="username" placeholder="Brugernavn">

        <input type="password" name="password" placeholder="Password">

        {% if error %}
            <p class="error">Forkert login!</p>
        {% endif %}

        <button type="submit">Log ind</button>
    </form>
</div>
</body>
</html>
